
/*******************************************
                COLOURS
*******************************************/



/*******************************************
                GENERAL
*******************************************/




/*******************************************
                HEADER
*******************************************/

.header {
  background-image: url("http://placekitten.com/960/500");
  height: 500px;
  width: 960px;
  background-size: cover;

}

li {
  list-style: none;
}




/*******************************************
                GA INFO
*******************************************/





/*******************************************
                SIDE NAV
*******************************************/




/*******************************************
                PROFILE PARTIAL
*******************************************/
// See Profile.css.scss file




/*******************************************
                GALLERY
*******************************************/
