<!-- GA Info partial-->
<div class="general-assembly-info">
  <div class="info row">
    <div class="col-md-4 ga-info">
      <i class="icon-postgres"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, dignissimos.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, tempora.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, laborum.</p>
    </div>
  </div> <!-- row -->
    <div class="row">
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, eius.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, omnis.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quas!</p>
    </div>
  </div> <!-- row -->
    <div class="row">
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, expedita?</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, officia.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, cupiditate.</p>
    </div>
  </div> <!-- row -->
</div>