<!-- GA Info partial-->
<div class="general-assembly-info">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1>Meet your freshest full-stack developers.</h1>
      <p>We are General Assembly Sydney's second-ever WDI class. We started with little to no coding experience and through 1000 hours over 12 weeks built a work-ready skills set and a number of our own projects.</p>
    </div>
  </div> <!-- row -->
  <div class="info row">
    <div class="col-md-4 ga-info">
      <i class="icon-postgres"></i>
      <h4>Database Manipulation</h4>
      <p>We are trained with MySQL and PSQL databases and can apply the MVC framework to create applications.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="fa fa-github-square"></i>
      <h4>Git and GitHub</h4>
      <p>We employed version-control and worked collaboratively - please check out our source code!</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-shell"></i>
      <h4>Command Line</h4>
      <p>We abandoned the Finder, memorising the commands programmers rely on every day.</p>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-4 ga-info">
      <i class="icon-ruby"></i>
      <h4>Ruby</h4>
      <p>We learned beautiful, elegant Ruby syntax and were welcomed into its brilliant Sydney community.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-javascript"></i>
      <h4>Javascript</h4>
      <p>Our JS journey took us through all of the good parts including jQuery, Backbone and Underscore.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-ruby-on-rails"></i>
      <h4>Ruby-on-Rails</h4>
      <p>We built custom apps integrating routing, controllers, views, databases and authentication.</p>
    </div>
  </div> <!-- row -->
  <div class="row last">
    <div class="col-md-4 ga-info">
      <i class="icon-html"></i>
      <h4>HTML/CSS</h4>
      <p>We mastered the structural markup and visual language of the web including Haml and Sass.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <h4>Computer Science</h4>
      <p>We create lateral, logical solutions by applying fundamental CompSci concepts.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-mobile-device"></i>
      <h4>Responsive Design</h4>
      <p>We crafted our applications to provide optimal viewing experiences on any device.</p>
    </div>
  </div> <!-- row last -->
</div>