<!-- GA Info partial-->
<div class="general-assembly-info">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1>Web-Development-Immersive (WDI)</h1>
      <p>WDI is a 12 week long... lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nobis officia suscipit doloribus optio? Natus, eveniet voluptatem animi accusamus molestias!</p>
    </div>
  </div> <!-- row -->
  <div class="info row">
    <div class="col-md-4 ga-info">
      <i class="icon-postgres"></i>
      <h4>Database Manipulation</h4>
      <p>We learned how to describe and experiment with various relational Database Solutions (Postgres, MySQL, SQL).</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="fa fa-github-square"></i>
      <h4>Git and GitHub</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, tempora.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-shell"></i>
      <h4>Command Line</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, laborum.</p>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-4 ga-info">
      <i class="icon-ruby"></i>
      <h4>Ruby</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, eius.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-javascript"></i>
      <h4>Javascript</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, omnis.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-ruby-on-rails"></i>
      <h4>Ruby-on-Rails</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quas!</p>
    </div>
  </div> <!-- row -->
  <div class="row last">
    <div class="col-md-4 ga-info">
      <i class="icon-html"></i>
      <h4>HTML</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, expedita?</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-css"></i>
      <h4>CSS</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, officia.</p>
    </div>
    <div class="col-md-4 ga-info">
      <i class="icon-mobile-device"></i>
      <h4>Responsive Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, cupiditate.</p>
    </div>
  </div> <!-- row last -->
</div>