<!-- gallery partial -->

<h1>This is the gallery section</h1>

<% data.project.projects.each do |project| %>
  <div class="view view-first">
    <div class="mask">
      <img src="<% project.image %>"/>
      <h2><%= project.name %></h2>
      <p>Sample text about project</p>
      <a href="<%= project.url %>" class="info">Read More</a>
    </div>
  </div>
<% end %>
