<!-- gallery partial -->

<h1>This is the gallery section</h1>

<% data.project.projects.each do |project| %>
  <div class="view view-first" style="background-image:url(<%= project.image %>)">
    <div class="mask">
      <h2><%= project.name %></h2>
      <p><%= project.sample %></p>
      <a href="<%= project.url %>" class="info">Read More</a>
    </div>
  </div>
<% end %>
