<!-- Nav bar partial-->

  <div class="general-assembly-logo" id="ga-logo">
    <img src="https://pbs.twimg.com/profile_images/2677381091/09fa50c6d73b5d9b0a54f3b58606b692.png">
  </div>
  <div class="profile-pic" id="corinne">
    <img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/476837/HHmxLwFP5xi21tG/Screen%20Shot%202013-12-15%20at%2012.48.29%20AM.png" id="corinne-pic">
  </div>
  <div class="profile-pic" id="albert">
    <img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/476837/RHhHrNHPpt3UQPU/Screen%20Shot%202013-12-15%20at%2012.47.26%20AM.png" id="albert-pic">
  </div>
  <div class="profile-pic" id="angie">
    <img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/476837/hqeiZqyTTNnSyGV/Screen%20Shot%202013-12-15%20at%2012.58.06%20AM.png" id="angie-pic">
  </div>
  <div class="profile-pic" id="matt">
    <img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/476837/paQWOgrxv8tpM65/Screen%20Shot%202013-12-15%20at%2012.46.05%20AM.png" id="matt-pic">
  </div>
  <div class="profile-pic" id="nick">
    <img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/476837/zsUUdul7gG3dSkQ/Screen%20Shot%202013-12-15%20at%2012.59.28%20AM.png" id="nick-pic">
  </div>
  <div class="profile-pic" id="riana">
    <img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/476837/c5djrDZ7gSrizhK/Screen%20Shot%202013-12-15%20at%2012.44.13%20AM.png" id="riana-pic">
  </div>


  <div class="gallery-link" id="gallery">
    <span class="navbar-link">Project Gallery</span>
  </div>

  <div class="back-to-top" id="top">
    <span class="navbar-link">Back to Top</span>
  </div>