<!-- Nav bar partial-->

  <div class="general-assembly-logo">
    <img src="https://pbs.twimg.com/profile_images/2677381091/09fa50c6d73b5d9b0a54f3b58606b692.png">
  </div>
  <div class="profile-pic">
    <img src="http://placehold.it/70x70">
  </div>
  <div class="profile-pic">
    <img src="http://placehold.it/70x70">
  </div>
  <div class="profile-pic">
    <img src="http://placehold.it/70x70">
  </div>
  <div class="profile-pic">
    <img src="http://placehold.it/70x70">
  </div>
  <div class="profile-pic">
    <img src="http://placehold.it/70x70">
  </div>
  <div class="profile-pic">
    <img src="http://placehold.it/70x70">
  </div>
