<!-- Nav bar partial-->

  <div class="general-assembly-logo" id="ga-logo">
    <img src="https://pbs.twimg.com/profile_images/2677381091/09fa50c6d73b5d9b0a54f3b58606b692.png">
  </div>
  <div class="profile-pic" id="corinne">
    <img src="http://placehold.it/70x70" id="corinne-pic">
  </div>
  <div class="profile-pic" id="albert">
    <img src="http://placehold.it/70x70" id="albert-pic">
  </div>
  <div class="profile-pic" id="angie">
    <img src="http://placehold.it/70x70" id="angie-pic">
  </div>
  <div class="profile-pic" id="matt">
    <img src="http://placehold.it/70x70" id="matt-pic">
  </div>
  <div class="profile-pic" id="nick">
    <img src="http://placehold.it/70x70" id="nick-pic">
  </div>
  <div class="profile-pic" id="riana">
    <img src="http://placehold.it/70x70" id="riana-pic">
  </div>
