<!-- Profile partial-->

<h1>This is the profile section</h1>
<% data.students.person.each do |student| %>
  <section>
    <div class="profile_student_name">
    </div>

    <div class="profile_student_info">

    </div>


    <div class="profile_info_graphic">

    </div>


    <div class="profile_student_links">

    </div>


    <div class="profile_project_section project_1">
      <div class="single_project_container">
        <div class="project_image">

        </div>
        <div class="project_info">

        </div>
      </div>
    </div>

    <div class="profile_project_section project_2">
      <div class="single_project_container">
        <div class="project_image">

        </div>
        <div class="project_info">

        </div>
      </div>
    </div>

  </section>

<% end %>