---
title: Welcome to Middleman
---

<div class="top-banner"><!-- this is where the banner will go, put it into the partial _header -->
  <%= partial "header" %>
</div><!-- header -->

<div class="main">

  <div class="nav"><!-- this is where the nav will go, please put nav contents into partial _nav.html.erb -->
  <%= partial "navbar" %>

  </div><!-- nav -->

  <div class="profile"><!-- this is where the partial for the profiles will go -->
  <%= partial "profile" %>
  </div><!-- profile -->

  <div class="gallery">
    <%= partial "gallery" %>
  </div>
</div><!-- main -->
